.wrapper {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  background-color: var(--mantine-color-white);
  width: 100vw;
  padding: 6px;
  padding-left: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.2s;
  overflow: hidden;
  border: 1px solid var(--mantine-color-white);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}
.wrapper.islandHeader {
  margin: 6px;
  width: calc(100vw - 12px);
  border-radius: 12px;
  padding: 12px;
  border: 1px solid var(--mantine-color-gray-3);
}

.header {
  margin: 0 auto;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
}

.iconWrapper {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  background-color: var(--mantine-color-violet-6);
}
